# ----- netmush.conf - TinyMUSH configuration file
#
# See 'wizhelp config parameters' for more information. 
#
# -- Default filenames and path for the server. These are now 
#    define in here and mush.config is simply a shell script
#    able to read them from here:
#
backup_home		/home/tuh/src/TinyMUSH/game/var/backups/tinymush
binary_home		/home/tuh/src/TinyMUSH/game/bin
database_home		/home/tuh/src/TinyMUSH/game/var/db/tinymush
modules_home		/home/tuh/src/TinyMUSH/game/lib/tinymush
scripts_home		/home/tuh/src/TinyMUSH/game/libexec/tinymush
log_home		/home/tuh/src/TinyMUSH/game/var/log/tinymush
pid_home		/home/tuh/src/TinyMUSH/game/var/run/tinymush
text_home		/home/tuh/src/TinyMUSH/game/share/tinymush
backup_util		/usr/bin/tar
backup_compress		cJf
backup_extract		xJf
backup_extension	txz
#
# -- Enable mail and comsys modules.
#
module		mail
module		comsys
#
# -- Other basic defaults
#
port		6250
mud_shortname	netmush
mud_name	AnonyMUSH
mud_owner	mush_admin@tinymush.net
#
# -- Standard text files
#
# guest_file		guest.txt
# connect_file		connect.txt
# connect_reg_file	register.txt
# register_create_file	create_reg.txt
# motd_file		motd.txt
# wizard_motd_file	wizmotd.txt
# quit_file		quit.txt
# down_file		down.txt
# full_file		full.txt
# badsite_file		badsite.txt
# newuser_file		newuser.txt
# html_connect_file	htmlconn.txt
#
# -- Main help files.
#
# help_users	help	help.txt
# help_wizards	wizhelp	wizhelp.txt
# help_quick	qhelp	qhelp.txt
#
# -- Raw help files.
#
raw_helpfile	news	news
raw_helpfile	man	mushman
#
# -- External +help and wiznews, if desired
#
helpfile	+help	plushelp
helpfile	wiznews	wiznews
access	wiznews	wizard
#
#
# -- Include important aliases.
#
include		alias.conf
include		compat.conf
#
# -- Site restriction
#
# Uncomment this to set all sites to Registration
# register_site 0.0.0.0/0
#
# -- Commonly-disabled commands
#
access		@find	disabled
#
# -- Frequently-changed parameters
#
# money_name_singular	penny
# money_name_plural	pennies
#
# dump_message		GAME: Database being saved.
#
default_home		45
player_starting_room	45
player_starting_home	45
master_room		2
guest_char_num		16
#
# -- Pueblo Support
#
# have_pueblo 		yes
# pueblo_message	</xch_mudtext><img xch_mode=html><tt>
# pueblo_version	This world is Pueblo 1.0 enhanced
#
# -- Lag and usage time settings
#
# lag_check		yes
# lag_check_clk		yes
# lag_check_cpu		yes
#
# -- Memory Allocation Tracking
#
# malloc_tracker	yes
# malloc_logger		no
#
# -- Output options
#
# output_block_size	16384
#
# -- Separator between dbref and marker flags.
# dbref_flag_sep	_
#
# -- Maximum lenght of a player name.
#
# max_player_name_length 	22
#
# -- Maximum number of global registers (minimum 10, maximum 36)
#
# max_global_registers		36
#
# -- Maximum number of arguments for a command.
#
# max_command_arguments		100
#
# -- Hash factor, only play with this if you know what you're doing...
#
# hash_factor			2
#
# -- Define other local aliases/parameters/whatnot here.
#
#
# ----- End of Configuration File
