* text=auto
AUTHORS 		text
CONVERTING		text
COPYING			text
ChangeLog		text
ChangeLog.Alpha		text
ChangeLog.Beta		text
ChangeLog.History	text
FAQ			text
INSTALL			text
MODULES			text
NEWS			text
README 			text

