# Object files
*.o
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup files made by Joe's
*~

# TinyMUSH's specifics
/src/config.h
/src/dbm/qdbm/libtinyqdbm.h
/src/defaults.h
/src/etc/netmush.conf
/game/*
/src/netmush
/src/recover
/src/scripts/Startmush
/src/slave
/src/tinymushapi.h
/src/version.h
/debug

# Eclipse
.autotools
.cproject
.project
.settings/
