#
#	mush.config - constants for mush shell scripts
#

#
#	No user serviceable parts, everything is now
#	configured via the config file (netmush.conf)
#

#
#       Make sure we are call by one of the server's scripts.
#
if [ -z "$GAMENAME" ]; then
        echo "Must be call by NetMUSH's utilities."
	exit 1
fi

#
#	Read the config file and get what we need from it.
#
while read LINE
do
	a=$(echo $LINE | awk '{print $1;}' )
case "$(echo $LINE | awk '{print $1;}' )"
in
	"binary_home") 
		BIN=$(echo $LINE | awk '{print $2;}' )
		;;
	"database_home") 
		DATA=$(echo $LINE | awk '{print $2;}' )
		;;
	"text_home") 
		TEXT=$(echo $LINE | awk '{print $2;}' ) 
		;;
	"backup_home")
		BACKUP=$(echo $LINE | awk '{print $2;}' )
		;;
	"compress_util")
		ZIP=$(echo $LINE | awk '{print $2;}' )
		;;
	"mud_owner")
		OWNER=$(echo $LINE | awk '{print $2;}' )
		;;
esac
                                         	
done < $GAMENAME.conf

#
#	Theses are now hardcoded in the server. It won't work if you change them here
#
DBM_DB=$GAMENAME.db
CRASH_DB=$GAMENAME.db.CRASH
BACKUP_DB=$GAMENAME.db.BACKUP
LOGNAME=$GAMENAME.log
PIDFILE=$GAMENAME.pid

#echo "  binary_home : $BIN"
#echo "database_home : $DATA"
#echo "    text_home : $TEXT"
#echo "  backup_home : $BACKUP"

#echo "       DBM_DB : $DBM_DB"
#echo "     CRASH_DB : $CRASH_DB"
#echo "    BACKUP_DB : $BACKUP_DB"
#echo "      LOGNAME : $LOGNAME"
#echo "      PIDFILE : $PIDFILE"
#echo "     GAMENAME : $GAMENAME"
#echo "        OWNER : $OWNER"


