#	mush.config - constants for mush shell scripts
#
#	Change these variables as appropriate
#
GAMENAME=netmush
OWNER=mush_admin@your_site.your_domain
#
BIN=./bin
TEXT=./text
DATA=./data
BACKUP_DIR=./backups
ZIP=gzip
#
#	You should never need to change these.
#
GDBM_DB=$GAMENAME.gdbm
CRASH_DB=$GAMENAME.db.CRASH
BACKUP_DB=$GAMENAME.db.bk
LOGNAME=$GAMENAME.log
PIDFILE=$GAMENAME.pid
