/Makefile.am
/alloca.c
/alloca.in.h
/asnprintf.c
/basename-lgpl.c
/bcopy.c
/c-ctype.c
/c-ctype.h
/canonicalize-lgpl.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup2.c
/errno.in.h
/fd-hook.c
/fd-hook.h
/float+.h
/float.c
/float.in.h
/flock.c
/floor.c
/fpucw.h
/frexp.c
/frexpl.c
/fsync.c
/ftruncate.c
/getdtablesize.c
/gethostname.c
/getpagesize.c
/getrusage.c
/gettimeofday.c
/intprops.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/itold.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/math.in.h
/memchr.c
/memchr.valgrind
/mkdir.c
/mktime-internal.h
/mktime.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/pathmax.h
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/readlink.c
/realloc.c
/rename.c
/rmdir.c
/same-inode.h
/select.c
/signal.in.h
/signbitd.c
/signbitf.c
/signbitl.c
/size_max.h
/socket.c
/sockets.c
/sockets.h
/stat.c
/stdalign.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strdup.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strtod.c
/sys_file.in.h
/sys_resource.in.h
/sys_select.in.h
/sys_socket.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/sys_uio.in.h
/sys_utsname.in.h
/time.in.h
/time_r.c
/uname.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/verify.h
/vsprintf.c
/w32sock.h
/wchar.in.h
/xsize.h
