name: PR Check

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: write
  actions: read

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-test-ubuntu-latest.yml
  regression-test:
    name: Regression
    needs: build
    uses: ./.github/workflows/regression-test-ubuntu-latest.yml
    with:
      build-run-id: ${{github.run_id}}
