[Unit]
Description=TinyMUSH service

[Service]
ExecStart=/home/runner/work/TinyMUSH/TinyMUSH/game/netmush
WorkingDirectory=/home/runner/work/TinyMUSH/TinyMUSH/game
KillMode=process
KillSignal=QUIT
RestartKillSignal=USR1
User=tinymush
Restart=on-failure
RestartSec=1
Type=simple
PIDFile=/home/runner/work/TinyMUSH/TinyMUSH/game/netmush.pid

[Install]
WantedBy=multi-user.target
